.btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 20px;
}

.btn:disabled {
  cursor: default !important;
}

.btn__loader {
  top: 50%;
  left: 50%;
  width: 26px;
  opacity: 0;
  transform: translate(-50%, -50%);
}

// @include breakpoint-up(sm) {
//   .btn {
//
//   }
// }

.btn--addSection {
  background: palette(grey);
  color: white;
}

.btn--generate {
  background: palette(grey);
  color: white;
}
