{% extends './_layouts/master.html' %}

{% block content %}

<div class="ph6-md  ph3  pv2  mb6  mw8  center">

  <div data-sections-container>
    <section data-section="url" class="section">
      <p class="section__title">Article URL</p>
      <input data-input="text" type="text">
    </section>

    <section data-section="title" class="section">
      <p class="section__title">Article Title</p>
      <input data-input="text" type="text">
    </section>

    <section data-section="description" class="section">
      <p class="section__title">Artice Description</p>
      <textarea class="w-100" data-input="text" rows="4" cols="80"></textarea>
    </section>

    <section data-section="created" class="section">
      <p class="section__title">Created Date</p>
      <input data-input="text" type="text">
    </section>

    <section data-section="author" class="section">
      <p class="section__title">Author</p>
      <select data-input="select">
        <option value="Dan Jones">Dan Jones</option>
        <option value="Harry Taylor">Harry Taylor</option>
        <option value="Dayle Hamers">Dayle Hamers</option>
        <option value="Kieran May">Kieran May</option>
        <option value="Sam Langley">Sam Langley</option>
      </select>
    </section>

    <section data-section="img" class="section">
      <p class="section__title">Main Image</p>
      <input data-input="text" type="text">
    </section>

    <section data-section="category" class="section">
      <p class="section__title">Category</p>
      <select data-input="select">
        <option value="Insights">Insights</option>
        <option value="Interviews">Interviews</option>
        <option value="News">News</option>
      </select>
    </section>
  </div>

  <div class="fl  tal  w-50  di">
    <select data-section-select>
      <option value="heading">heading</option>
      <option value="paragraph">paragraph</option>
      <option value="question">question</option>
      <option value="answer">answer</option>
      <option value="bulletList">bulletList</option>
      <option value="numberedList">numberedList</option>
      <option value="soundcloud">soundcloud</option>
      <option value="youtube">youtube</option>
      <option value="link">link</option>
    </select>
    <span class="btn  btn--addSection  pv2  ph3  f7  ml2" data-add-section>ADD SECTION</span>
  </div>

  <div class="fr  tar  w-50  di">
    <span class="btn  btn--generate  pv2  ph3  f7" data-generate>GENERATE</span>
  </div>

  <textarea class="mt3" data-generated rows="4" cols="80"></textarea>
  <p class="tac  f6">Copy generated text</p>
</div>

{% endblock %}
