{% extends './_layouts/master.html' %}

{% block content %}

  <section class="pa5">
    <header class="mb5">

      <div data-section="url" class="bg-light-grey  pa3  mv2">
        <label>url</label>
        <input data-input="text" type="text">
      </div>
      <div data-section="title" class="bg-light-grey  pa3  mv2">
        <label>title</label>
        <input data-input="text" type="text">
      </div>
      <div data-section="description" class="bg-light-grey  pa3  mv2">
        <label>description</label>
        <textarea data-input="text" rows="4" cols="80"></textarea>
      </div>
      <div data-section="created" class="bg-light-grey  pa3  mv2">
        <label>created (yyyy-mm-ddT12:00:00.002Z)</label>
        <input data-input="text" type="text">
      </div>

      <div data-sections-container></div>

      <select data-section-select>
        <option value="heading">heading</option>
        <option value="paragraph">paragraph</option>
        <option value="question">question</option>
        <option value="answer">answer</option>
        <option value="bulletList">bulletList</option>
        <option value="numberedList">numberedList</option>
        <option value="soundcloud">soundcloud</option>
        <option value="youtube">youtube</option>
        <option value="link">link</option>
      </select>
      <span data-add-section>add section</span>

      <span data-generate>generate</span>
    </header>
  </section>

{% endblock %}
