.section {
  position: relative;
  @extend .br3;
  @extend .bg-white;
  @extend .ba;
  @extend .bc-light-silver;
  @extend .shadow2;
  @extend .pa3;
  @extend .mv3;
}

.section__title {
  padding-right: 10px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.section__label {
  display: block;
  padding-top: 10px;
  padding-bottom: 4px;
  font-size: 14px;
  width: 100%;
}

.section__remove {
  position: absolute;
  right: 5px;
  cursor: pointer;
  padding: 3px;
  top: 2px;
  color: palette(red);
  font-weight: bold;
  font-size: 18px;
}

input,
option,
select,
textarea {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 10px;
  text-shadow: 0;
  box-shadow: 0;
  outline: 0;
  font-size: 15px;
  width: 100%;
  @extend .ba;
  @extend .bc-light-silver;
  @extend .shadow1;
}

input,
option,
select {
  max-width: 250px;
}
